################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/packages
/TestConsole
/nchenIOTest/obj
/nchenSystem/obj
/nchenVisualBasic/obj
/nchenForms/obj
/nchenLogger/obj
/nchenJson/obj
/nchenTelegram/obj
/nchenAdaptiveCards/obj
/nchenMail/obj
/nchenTasks/obj

# Temporarily
/nchenAdaptiveCards/Schemas